body a {
    color: black;
}

.logos {
    padding-left: 7em;
} 

.acc-name {
    font-weight: 300;
    font-size: 2em;
}

.acc-info {
    margin: 3em;
}

.acc-img {
    margin-left: 9em;
    border: 3px solid #dbdbdb;
}

.search-bar {
    margin: 0 auto;
}

.search-bar input {
    border: 1px solid #dbdbdb;
    text-decoration: none;
    width: 13.5em;
    color: #999;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

.gallery {
    padding: 1em 5.25em;
}

.bio {
    font-size: 1em;
    padding-top: 1em;
}